include capreolus/data/antique.json
include capreolus/data/dummy/data/dummy_trec_doc
include capreolus/data/dummy_folds.json
include capreolus/data/dummy.yaml
include capreolus/data/msmarcopassage.folds.json
include capreolus/data/qrels.antique.txt
include capreolus/data/qrels.antique_test.txt
include capreolus/data/qrels.dummy.txt
include capreolus/data/qrels.msmarcopassage.txt
include capreolus/data/qrels.robust2004.txt
include capreolus/data/rob04_cedr_folds.json
include capreolus/data/rob04_yang19_folds.json
include capreolus/data/rob04_yang19_rm3.run
include capreolus/data/robust04.yaml
include capreolus/data/topics.antique.txt
include capreolus/data/topics.dummy.txt
include capreolus/data/topics.robust04.301-450.601-700.txt
