# install pytorch from conda
cython
pre-commit
profane>=0.2.0
SQLAlchemy>=1.3.5
sqlalchemy-utils
psycopg2-binary
matplotlib
colorlog>=4.0.2
pytrec_eval>=0.5
pytest>=3.8.0
pyjnius>=1.2.1
h5py==2.10.0
nltk>=3.4.5
pymagnitude>=0.1.143
pytest-mock
mock
pyserini==0.9.3.0
numpy
scipy
sphinx
sphinxcontrib-apidoc
recommonmark
google-api-python-client
oauth2client
tensorflow>=2.4,<2.5
transformers==3.1.0
tensorflow-ranking
Pillow
# required for TREC COVID
beautifulsoup4
lxml
scispacy
smart_open
spacy<3.0
pandas
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_lg-0.2.4.tar.gz
# deps that the pymagnitude package isn't pulling in:
lz4
xxhash
annoy
fasteners
ir_datasets
