profane>=0.2.0
pyserini==0.9.3.0
gdown
annoy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_lg-0.2.4.tar.gz
pymagnitude>=0.1.143
pytrec_eval>=0.5
pysbd
xxhash
gin-config
typeguard
