absl-py==0.10.0
alabaster==0.7.12
annoy==1.17.0
appdirs==1.4.4
astunparse==1.6.3
attrs==20.2.0
Babel==2.8.0
beautifulsoup4==4.9.3
blis==0.4.1
cachetools==4.1.1
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
colorlog==4.4.0
commonmark==0.9.1
cPython==0.0.6
cycler==0.10.0
cymem==2.0.2
Cython==0.29.21
dill==0.3.1.1
distlib==0.3.1
dm-tree==0.1.5
docopt==0.6.2
docutils==0.16
en-core-sci-lg @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_lg-0.2.4.tar.gz
fasteners==0.15
filelock==3.0.12
future==0.18.2
gast==0.3.3
gin-config==0.3.0
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.22.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
h5py==2.10.0
httplib2==0.18.1
identify==1.5.6
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
importlib-resources==3.2.1
iniconfig==1.1.1
Jinja2==2.11.2
joblib==0.17.0
kaggle==1.5.9
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lxml==4.4.1
lz4==3.1.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib
# mkl-fft==1.2.0
# mkl-random==1.1.1
# mkl-service==2.3.0
mock==4.0.2
monotonic==1.5
murmurhash==1.0.2
nltk==3.4.5
nmslib==2.0.6
nodeenv==1.5.0
numpy
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-python-headless==4.1.1.26
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.3
pbr==5.5.1
Pillow
Pillow-SIMD==7.0.0.post3
plac==1.1.3
pluggy==0.13.1
pre-commit==2.7.1
preshed==3.0.2
profane==0.2.1
promise==2.3
protobuf==3.13.0
psutil==5.7.0
psycopg2-binary==2.8.6
py==1.9.0
py-cpuinfo==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.0
Pygments==2.7.2
pymagnitude==0.1.143
pymongo==3.9.0
pyparsing==2.4.7
pysbd==0.3.3
pyserini==0.9.3.0
pytest==6.1.1
pytest-mock==3.3.1
python-dateutil==2.8.1
python-slugify==1.2.4
pytrec-eval==0.5
pytz==2020.1
PyYAML==5.3.1
recommonmark==0.6.0
regex==2019.11.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
sacremoses==0.0.43
scikit-learn==0.23.0
scipy==1.4.1
scispacy==0.3.0
sentencepiece==0.1.91
six==1.15.0
slugify==0.0.1
snowballstemmer==2.0.0
soupsieve==2.0.1
spacy==2.2.2
Sphinx==3.2.1
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.11
SQLAlchemy-Utils==0.36.8
srsly==0.2.0
statistics==1.0.3.5
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow-addons==0.9.1
tensorflow-datasets==4.0.1
tensorflow-estimator==2.3.0
# tensorflow-gpu==2.3.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.24.0
tensorflow-model-optimization==0.5.0
tensorflow-ranking==0.3.2
tensorflow-serving-api
termcolor==1.1.0
tf-models-official
tf-slim==1.1.0
thinc==7.3.1
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
toml==0.10.1
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.51.0
transformers==3.1.0
typeguard==2.10.0
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.11
virtualenv==20.1.0
wasabi==0.8.0
Werkzeug==1.0.1
wrapt==1.11.2
xxhash==2.0.0
zipp==3.4.0