<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.2.2/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script src="https://kit.fontawesome.com/b0e3352517.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <meta charset="UTF-8">
    <title>Capreolus Demo</title>
    <link href="{% static "demo.css" %}" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
        <h2 id="brand"><span class="fas fa-leaf"></span><a href="/demo" class="margin-left-1rem">Capreolus</a></h2>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static "demo.js" %}"></script>
</body>
</html>
