{% extends "base.html" %}

{% block content %}
        <div class="row margin-left-1rem">
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <select class="custom-select dropdown form-control" id="target_index">
                        {% for index_path in available_indices %}
                            <option value="{{index_path}}">{{index_path}}</option>
                        {% endfor %}
                    </select>
                    <div id="gobtn" class="btn go-btn input-group-append"><span class="fas fa-search"></span></div>
                </div>
            </div>
        </div>
        <div class="fake-table">
            <h5 class="margin-left-2rem">Available non-neural baselines:</h5>
            <div class="row heading">
                <div class="col-md-1 col-sm-1 cell">#</div>
                <div class="col-md-1 col-sm-1 cell">Reranker</div>
                <div class="col-md-9 col-sm-1 cell">Parameter inputs</div>
            </div>
            <form class="row">
                <div class="col-md-1 col-sm-1 cell"><input type="checkbox" class="config-row-checkbox form-control"></div>
                <div class="col-md-1 col-sm-1 cell">
                    <input name="reranker" type="hidden" value="BM25" readonly>
                    BM25
                </div>
                <div class="col-md-9 col-sm-9 cell">
                    <div class="row">
                        <label class="col-md-1 col-sm-1" for="b">b: </label>
                        <div class="col-md-2 col-sm-2"><input name="b" type="number" value=0.75 placeholder="uses 0.75 if not specified"></div>
                    </div>
                    <div class="row margin-top-1rem">
                        <label class="col-md-1 col-sm-1" for="k1">k1: </label>
                        <div class="col-md-2 col-sm-2"><input name="k1" type="number" value=1.2 placeholder="uses 1.2 if not specified"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="fake-table">
            <h5 class="margin-left-2rem">Available Experiments:</h5>
            <div class="row heading">
                <div class="col-md-1 col-sm-1 cell">#</div>
                <div class="col-md-1 col-sm-1 cell">Show/Hide config</div>
                <div class="col-md-1 col-sm-1 cell">Reranker</div>
                <div class="col-md-1 col-sm-1 cell">Collection</div>
                <div class="col-md-1 col-sm-1 cell">Index</div>
                <div class="col-md-2 col-sm-2 cell">Searcher</div>
                <div class="col-md-1 col-sm-1 cell">Benchmark</div>
                <div class="col-md-1 col-sm-1 cell">Niters</div>
                <div class="col-md-1 col-sm-1 cell">Fold</div>
                <div class="col-md-1 col-sm-1 cell">Embedding</div>
                <div class="col-md-1 col-sm-1 cell">Stemmer</div>
            </div>
            {% for config in configs %}
                <form class="row">
                    <div class="col-md-1 col-sm-1 cell">
                        <input type="checkbox" class="config-row-checkbox form-control">
                    </div>
                    <div class="col-md-1 col-sm-1 cell with-left-border">
                        <div class="btn btn-success expand-config" data-toggle="collapse" data-target="#full-config-{{ forloop.counter }}" aria-expanded="false">
                            <span class="fas fa-chevron-down" ></span>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 cell">
                        {{config.reranker}}
                    </div>
                    <div class="col-md-1 col-sm-1 cell">{{config.collection}}</div>
                    <div class="col-md-1 col-sm-1 cell">{{config.index}}</div>
                    <div class="col-md-2 col-sm-2 cell">{{config.searcher}}</div>
                    <div class="col-md-1 col-sm-1 cell">{{config.benchmark}}</div>
                    <div class="col-md-1 col-sm-1 cell">{{config.niters}}</div>
                    <div class="col-md-1 col-sm-1 cell">{{config.fold}}</div>
                    <div class="col-md-1 col-sm-1 cell">{{config.embeddings}}</div>
                    <div class="col-md-1 col-sm-1 cell">{{config.stemmer}}</div>
                    {% for key, value in config.items %}
                        <input name="{{ key }}" type="hidden" value="{{ value }}" readonly>
                    {% endfor %}
                </form>
                <div id="full-config-{{ forloop.counter }}" class="collapse full-config">
                    {% for key, value in config.items %}
                        <div class="row">
                            <div class="col-md-1 col-sm-1"></div>
                            <div class="col-md-1 col-sm-1 with-left-border">{{ key }}</div>
                            <div class="col-md-6 col-sm-6">{{ value }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
{% endblock %}
